@model Books.Models.Book

@{
	ViewData["Title"] = "Edit book";
}

<h1>Edit book</h1>
<hr />
<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="BookId" />
	<div class="form-group">
		<label asp-for="Title" class="control-label"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<textarea asp-for="Description" class="form-control" rows="7"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="AuthorId" class="control-label"></label>
		<select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
		<span asp-validation-for="AuthorId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
