@model IEnumerable<GuestResponse>

@{
    ViewData["Title"] = "Guest List";
}

<h1>Guest List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.Name</td>
            </tr>
        }
    </tbody>
</table>

