@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<a asp-controller="Authors" asp-action="Index" class="btn btn-dark">Authors</a>
	<a asp-controller="Books" asp-action="Index" class="btn btn-dark">Books</a>
</div>
