@model GuestResponse

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<h2>Are you comming to the party?</h2>

<form asp-action="Register" method="post">
    <!--TODO: read the guest response fields -->
    <a asp-action="Index">Cancel</a>
</form>